*{
    margin:auto;
}
body{
    background-color:rgba(177, 250, 177, 0.1);
}
h1{
    position: relative;
    background-color: #e77f07;
    color:rgb(255, 255, 255);
    text-align:center;
    height:60px;
    font-family:serif;
    font-weight:bold;
    font-size: 50px;
    text-transform:uppercase;
    margin-bottom:1%;
}
.inner_container{
    margin:20px 20px;
    padding:5px;
    margin-left:5%;
}
#fieldset{
    color:#e77f07;
    border:2px solid #e77f07;
    border-radius:10px;
    width:26%;
}
input{
    padding:7px;
    margin:10px;
    margin-left: 30px;
    outline:none;
    border:2px solid #e77f07;
    border-radius:10px;
    height:15px;
    width:72%;
    font-family: serif;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
}

select{
    padding:3px;
    margin:7px;
    margin-left: 30px;
    outline:none;
    height:33px;
    width:78%;
    color:#e77f07;
    letter-spacing:1px;
    border:2px solid #e77f07;
    border-radius:10px;
    font-family:serif;
    font-weight: bold;
    text-transform:uppercase;
}
input[type="date"]{
    width:71%;
    color:#e77f07;
    letter-spacing:1px;
    font-family:serif;
    font-weight: bold;
    text-transform:uppercase
}
input[type="submit"]{
    height:25px;
    width:77%;
    color:#ffffff;
    font-size:20px;
    text-align:center;
    background-color:#e77f07;
    letter-spacing:1px;
    font-family:serif;
    text-transform:uppercase;
    padding-top: 4px;
    padding-bottom: 25px;
}
.label{
    margin:30px;
    text-transform: uppercase;
    letter-spacing:1px;
    font-family:serif;
    font-weight: bold;
}
textarea{
    margin-top: 5px;
    margin-left:30px;
    color:#e77f07;
    border:2px solid #e77f07;
    border-radius: 5px;
    width: 73%;
    padding:5px;
    overflow: hidden;
}
input[type="file"]{
    padding:6px;
    padding-bottom:12px;
    margin:7px;
    margin-left: 30px;
    outline:none;
    border:2px solid #e77f07;
    border-radius:10px;
    height: 15px;
    width: 72%;
    font-family: serif;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
}